openapi: 3.0.0
info:
  title: Peach API TEST
  description: k-peach의 RESTfull API 테스트를 위한 문서.
  version: 1.0.0
  license:
    name: MIT
  contact:
    name: Peach
    email: tjdwls0607@naver.com
    url: www.k-peach.io
servers:
  - url: https://api.k-peach.io/
  - description: Peach API server for dev
host: api.k-peach.io:80
basePath: '/'
tags:
  - name: TEST
  - description: API for test
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /s3/temp/:
    get:
      tags:
        - images
      summary: Returns a path of images in S3.
      responses:
        200:
          description: A image path.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  name:
                    type: string
                    example: 1
                  format:
                    type: string
                    example: jpg
                  path:
                    type: string
                    example: data.k-peach.io/temp/1.jpg
                  size:
                    type: number
                    example: 2846729
                  lastModified:
                    type: string
                    example: '2021-07-05T09:55:52.000Z'
        400:
          description: The specified image name is invalid (not a number).
        404:
          description: A image with the specified name was not found.
        default:
          description: Unexpected error
  /s3/temp/{name}:
    get:
      tags:
        - image
      summary: Returns a path of image in S3.
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the iamge to return
          schema:
            type: string
            example: 1.jpg
      responses:
        200:
          description: A image path.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  name:
                    type: string
                    example: 1
                  format:
                    type: string
                    example: jpg
                  path:
                    type: string
                    example: data.k-peach.io/temp/1.jpg
                  size:
                    type: number
                    example: 2846729
                  lastModified:
                    type: string
                    example: '2021-07-05T09:55:52.000Z'
        400:
          description: The specified image name is invalid (not a number).
        404:
          description: A image with the specified name was not found.
        default:
          description: Unexpected error
  /s3/temp:
    post:
      tags:
        - image
      summary: Add new imamge in s3.
      parameters:
        - name: image
          in: body
          description: Image file to add.
          schema:
            type: string
      responses:
        200:
          description: A img path.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: number
                    example: 1.jpeg
                  path:
                    type: string
                    example: http://test.k-peach.io/sw-maestro-logo.png
        400:
          description: The image file is wrong format or duplicate name.
        default:
          description: Unexpected error
